body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.main{
  background-color: cadetblue;
  height: 100vh;
  width: 100%;
}
#heading{
  
  color:whitesmoke;
  height: 50%;
  width: 50%;
}
.card {
  padding:70px;
  height: 50%;
  width: 50%;
  background-color:crimson;
}
input[type="submit"]
{
  background-color: aquamarine;
  padding: 10px;
  border-radius: 5px;
}
input[type="text"]{
  padding: 10px;
  border-radius: 5px;
  background-color:lightsteelblue;
}